@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
    background:#F0FFFF;
    font-family: Verdana, Arial;
    margin:0;  /*Removes default margin values of the web browsers so we won't see empty spaces around our elements when using this.*/
}

div h2::before {
    content:"Section"
}

div p::before {
    content:"Explanation"
}

header {
    width:100%;
    height:50px;
    background-color: #1fd660;
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0px;
}

header h1, footer h3{
    color:#F0FFFF;
    margin:0 auto;
}

header h1 {
    display:flex;
    align-items:center;
}

section h2 {
    border-bottom:5px solid #1fd660;
}

section p {
    padding: 100px 0 100px 0;
}

section h2, section p {     /*It is important not to write "section h2, p" instead of "section h2, section p" as type selectors*/
    width:80%;
    max-width:600px;
    margin:0 auto;
    text-align: left;
}

.section-divider {
    margin: 150px auto 0px auto; /*Cutting the excess space at the end thanks to 0px margin-bottom value.*/
}

footer {
    background-color:#1fd660;
    height:50px;
}

footer p {
    font-size: 0.75rem;
    text-align:center;
    max-width:400px;
    min-width:300px;
    width:60vw;
    margin: 0.5rem auto;
  }
  
footer h3{
    font-size: 1rem;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    width: 60vw;
    margin: 0.5rem auto;
  }