@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
    background:#F0FFFF;
    font-family: Verdana, Arial;
    margin:0;  /*Removes default margin values of the web browsers so we won't see empty spaces around our elements when using this.*/
}

div h2::before {
    content:"Section"
}

div p::before {
    content:"Explanation"
}

li > a , footer > p > a {
    text-decoration: none;
  }

header {
    width:100%;
    height:50px;
    background-color: #1fd660;
    display:flex; /*Container should be flex.*/
    justify-content:space-between;
    position:fixed; 
    top:0;
}

header h1{
    color:#F0FFFF;
    padding-inline-start:0.5rem;
    font-size:24px;
    display:flex; /*Container items should be flex as well.*/
    align-items:center;
}

nav > ul {
    display: flex; /*Container items should be flex as well.*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-block: 0;
    height: 100%;
    padding-inline-end:0.5rem;
  }

  nav > ul > li {
    display: block;
    margin: 0 0.2rem;
  }

section h2 {
    border-bottom:5px solid #1fd660;
    padding-top: 70px;  /*IMPORTANT: Thanks to this code, we can prevent the section h2 elements became hidden under the header bar.*/
}

section p {
    padding: 100px 0 30px 0;
}

section h2, section p {     /*It is important not to write "section h2, p" instead of "section h2, section p" as type selectors*/
    width:80%;
    max-width:600px;
    margin:0 auto;
    text-align: left;
}

.section-divider {
    margin: 80px auto 70px auto;  /*Top and bottom space adjustment from top side under the header bar and  bottom side under the footer bar.*/
}

footer {
    background-color:#1fd660;
    height:50px;
}

footer p {
    font-size: 0.75rem;
    text-align:center;
    max-width:400px;
    min-width:300px;
    width:60vw;
    margin: 0.75rem auto;  /*font-size of footer p is smaller than footer h3 so we need to 
    compansate the difference by using 0.75rem instead of 0.5rem compared to footer h3.*/
  }
  
footer h3{
    font-size: 1rem;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    width: 60vw;
    margin: 0.5rem auto;
    color:#F0FFFF;
  }
  